{% extends 'cliente/base.html' %}
{% block conteudo %}
<table class="table">
            <tr>
                <td>Nome:</td>
                <td>{{nome}}</td>
            </tr>    
            <tr>
                <td>Data de Nascimento:</td> 
                <td>{{nascimento}}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>Tefefone:</td>
                <td>{{telefone}}</td>
            </tr>
        

        </table>
{% endblock conteudo %}