{% extends 'estoque/base.html' %}
{% block conteudo %}
    {% if erro %}
			<div class="alert alert-danger">{{ erro }}</div>
		{% endif %}
		{% if sucesso %}
			<div class="alert alert-success">{{ sucesso }}</div>
        {% endif %}
    <form action="{% url 'estoque:produto' %}" method="post">
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Salvar"/>
    </form>
{% endblock conteudo %}

{#  #}
{% comment 'Resultado do envio do produto' %}
Forbidden (CSRF cookie not set.): /estoque/produto/
[29/Apr/2020 15:34:12] "POST /estoque/produto/ HTTP/1.1" 403 2931
{% endcomment %}